@page "/leaves"
@using Models
@using Abstractions
@inject ILeaveRepository repository

<h3>Urlopy</h3>

<ul>
    @foreach (var leave in leaves)
    {
        <li><strong>@leave.Employee.FirstName @leave.Employee.LastName</strong> @leave.From.ToShortDateString() - @leave.To.ToShortDateString() @leave.LeaveType</li>
    }        
</ul>

@code {

    List<Leave> leaves = new List<Leave>();

    protected override void OnInitialized()
    {
        leaves = repository.GetAll();
    }

}
