@page "/leaves/accept/{Id:int}"
@using Abstractions
@using Models
@inject ILeaveRepository repository

<div class="card text-center">
    <div class="card-header">
        Urlop dla @leave.Employee.FirstName @leave.Employee.LastName
    </div>
    <div class="card-body">
        <h5 class="card-title">od dnia @leave.From.ToShortDateString() do dnia @leave.To.ToShortDateString()</h5>
        <p class="card-text">@leave.LeaveType</p>

        <button type="button" class="btn btn-danger" @onclick="Cancel" >Odrzuć</button>
        <button class="btn btn-primary">Akceptuj</button>
    </div>
    <div class="card-footer text-body-secondary">
        2 days ago
    </div>
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    private Leave leave;

    protected override void OnInitialized()
    {
        Console.WriteLine("Hello World!");

        leave = repository.Get(Id);

        
    }

    private void Cancel()
    {
        Console.WriteLine("Cancel Click");   
    }

}
