@page "/leaves/accept/{Id:int}"
@using Abstractions
@using Models
@inject ILeaveRepository repository

<div class="card text-center">
    <div class="card-header">
        Urlop dla @leave.Employee.FirstName @leave.Employee.LastName
    </div>
    <div class="card-body">
        <h5 class="card-title">od dnia @leave.From.ToShortDateString() do dnia @leave.To.ToShortDateString()</h5>
        <p class="card-text">@leave.LeaveType</p>

        <a href="#" class="btn btn-danger">Odrzuć</a>
        <a href="#" class="btn btn-primary">Akceptuj</a>
    </div>
    <div class="card-footer text-body-secondary">
        2 days ago
    </div>
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    private Leave leave;

    protected override void OnInitialized()
    {
        leave = repository.Get(Id);
    }

}
