@page "/leaves/accept/{Id:int}"
@using Abstractions
@using Models
@inject ILeaveRepository repository
@inject NavigationManager navigationManager

<div class="card text-center">
    <div class="card-header">
        Urlop dla @leave.Employee.FirstName @leave.Employee.LastName
    </div>
    <div class="card-body">
        <h5 class="card-title">od dnia @leave.From.ToShortDateString() do dnia @leave.To.ToShortDateString()</h5>
        <p class="card-text">@leave.LeaveType</p>

        @if (leave.CanCancel())
        {
            <button class="btn btn-danger" @onclick="Cancel">Odrzuć</button>
        }

        @if (leave.CanAccept())
        {
            <button class="btn btn-primary" @onclick="Accept">Akceptuj</button>
        }
    </div>
    <div class="card-footer text-body-secondary">
        <span class="badge @leave.Status">@leave.Status</span>
    </div>
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    private Leave leave;

    protected override void OnInitialized()
    {
        Console.WriteLine("Hello World!");

        leave = repository.Get(Id);
    }

    private void Cancel()
    {
        leave.Cancel();
        Update();
    }

    private void Accept()
    {
        leave.Accept();
        Update();
    }

    private void Update()
    {
        repository.Update(leave);
        navigationManager.NavigateTo("/leaves");
    }

}
