@page "/leaves"
@using Models
@using Abstractions
@inject ILeaveRepository repository

<h3>Urlopy</h3>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Od dnia</th>
            <th>Do dnia</th>
            <th>Rodzaj urlopu</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var leave in leaves)
        {
            <tr>
                <td>@leave.Employee.FirstName</td>
                <td>@leave.Employee.LastName</td>
                <td>@leave.From.ToShortDateString() </td>
                <td>@leave.To.ToShortDateString()</td>
                <td><span class="badge @leave.LeaveType">@leave.LeaveType</span></td>
                <td><span class="badge @leave.Status">@leave.Status</span></td>
                <td><a href="/leaves/accept/@leave.Id" class="btn btn-primary">Akceptuj</a></td>
            </tr>
        }
    </tbody>
</table>

@code {

    List<Leave> leaves = new List<Leave>();

    protected override void OnInitialized()
    {
        leaves = repository.GetAll();
    }

}
